@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');
#results{
    align-items: center;
    font-family: Lexend;
    padding: 20px;
}

.container{
    border-radius: 20px;
    padding: 15px;
    margin: 1vw 1vh;
    width: 60vw;
    height: 10vh;
    margin: 0 auto;
    display: inline-block;
    transition: 0.3s;
}

.container h2{
    text-align: left;
    float: left;
    max-width: 50vw;
    display: inline-block;
    padding-bottom: 10vh;
}

.NIMContainer{
    float: right;
    display: inline-block;
    margin-top: -2vh;
}

.container:hover{
    color: rgb(53,134,119);
    box-shadow: 7px 10px 36px -10px rgba(53,134,119,0.59);
}

@media screen and (max-width: 1000px){

    #results{
        padding: 5vh 0;
    }
    .container{
        width: 90vw;
    }

    .container h2{
        max-width: 50vw;
    }
}